<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Uudised</h1>
	<ul>
		<li><a href="/news/add">Lisa uudis</a></li>
		<li><a href="/news/read">Loe uudised</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>