<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Praegune hetk</h1>
	<p>Lehe avamise hetkel oli:</p>
	<ul>
		<li>kuupäev: <%= dateN %></li>
		<li>kellaaeg: <%= timeN %></li>
	</ul>
	
	<hr>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>