<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Fotogalerii</h1>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Falerii</h2>
	<div class="gallery">
		<div class="thumbgallery">
			<img src="gallery/thumbs/vp_16696418696193.jpg" alt="Kadriorg sügisel" data-filename="vp_16696418696193.jpg" data-id="35" class="thumbs">
			<p></p> 
		</div>
	</div>
</body>
</html>