<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Fotode laadimine galeriisse</h1>
	<ul>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Foto üleslaadimine</h2>
	<form method="POST" enctype="multipart/form-data">
		<label for="photoInput">Vali fotofail</label>
		<input type="file" id="photoInput" name="photoInput" required>
		<br>
		<label for="altInput">Foto alternatiivtekst</label>
		<input type="text" name="altInput" id="altInput" placeholder="Foto alt tekst ...">
		<br>
		<input type="radio" id="priacyInput1" name="privacyInput" value="1" checked>
		<label for="privacyInput1">Privaatne (ainult omanik näeb)</label>
		<br>
		<input type="radio" id="priacyInput2" name="privacyInput" value="2">
		<label for="privacyInput2">Sisseloginud kasutajale</label>
		<br>
		<input type="radio" id="priacyInput3" name="privacyInput" value="3">
		<label for="privacyInput3">Avalik (kõik näevad)</label>
		<br>
		<input type="submit" name="photoSubmit" value="Lae üles">
	</form>
	<p><%= locals.notice %></p>
</body>
</html>