<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Andrus Rinde, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/eestifilm/filmiloend">Eesti filmide loend</a></li>
		<li><a href="/eestifilm/lisapersoon">Lisa filmitegelane</a></li>
		<li><a href="/eestifilm/lisaseos">Seo filmitegelane filmiga</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
</body>
</html>